<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestionContact</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateContactServlet</display-name>
    <servlet-name>CreateContactServlet</servlet-name>
    <servlet-class>servlets.CreateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateContactServlet</servlet-name>
    <url-pattern>/CreateContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResearchContact</display-name>
    <servlet-name>ResearchContact</servlet-name>
    <servlet-class>servlets.ResearchContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResearchContact</servlet-name>
    <url-pattern>/ResearchContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContactServlet</display-name>
    <servlet-name>UpdateContactServlet</servlet-name>
    <servlet-class>servlets.UpdateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContactServlet</servlet-name>
    <url-pattern>/UpdateContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContactServlet</display-name>
    <servlet-name>DeleteContactServlet</servlet-name>
    <servlet-class>servlets.DeleteContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContactServlet</servlet-name>
    <url-pattern>/DeleteContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateGroupServlet</display-name>
    <servlet-name>CreateGroupServlet</servlet-name>
    <servlet-class>servlets.CreateGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGroupServlet</servlet-name>
    <url-pattern>/CreateGroupServlet</url-pattern>
  </servlet-mapping>
  <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
  </listener>
  <listener>
        <listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
  </listener>
</web-app>