<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  
  <display-name>GestionContact</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CreateContactServlet</display-name>
    <servlet-name>CreateContactServlet</servlet-name>
    <servlet-class>servlets.CreateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateContactServlet</servlet-name>
    <url-pattern>/CreateContactServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ResearchContactServlet</display-name>
    <servlet-name>ResearchContactServlet</servlet-name>
    <servlet-class>servlets.ResearchContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResearchContactServlet</servlet-name>
    <url-pattern>/ResearchContactServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UpdateContactServlet</display-name>
    <servlet-name>UpdateContactServlet</servlet-name>
    <servlet-class>servlets.UpdateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContactServlet</servlet-name>
    <url-pattern>/UpdateContactServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DeleteContactServlet</display-name>
    <servlet-name>DeleteContactServlet</servlet-name>
    <servlet-class>servlets.DeleteContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContactServlet</servlet-name>
    <url-pattern>/DeleteContactServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CreateGroupServlet</display-name>
    <servlet-name>CreateGroupServlet</servlet-name>
    <servlet-class>servlets.CreateGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGroupServlet</servlet-name>
    <url-pattern>/CreateGroupServlet</url-pattern>
  </servlet-mapping>
  
  <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>
            org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>
  <listener>
    <listener-class>
            org.springframework.web.context.request.RequestContextListener
    </listener-class>
  </listener>
 
 
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.properties</param-value>
  </context-param>  
  <listener>
    <listener-class>
        org.springframework.web.util.Log4jConfigListener
    </listener-class>
  </listener>
  
  <servlet>
    <description></description>
    <display-name>TestingSpringServlet</display-name>
    <servlet-name>TestingSpringServlet</servlet-name>
    <servlet-class>servlets.TestingSpringServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestingSpringServlet</servlet-name>
    <url-pattern>/TestingSpringServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
        <param-name>config</param-name>
        <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>/*</url-pattern>
  </servlet-mapping>

  
  
</web-app>